@arrowColor: #000;

.config-view {
  flex: 1;
  overflow: auto;

  i{
    &.fa{
      &.fa-caret-square-o-down {
        width: 0;
        height: 0;
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 10px solid @arrowColor;
      }
      &.fa-caret-square-o-right {
        width: 0;
        height: 0;
        display: inline-block;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 11px solid @arrowColor;
      }
    } 
  }
}