.ecdt-panel {
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;

  .ecdt-panel-line {
    margin-bottom: 8px;
  }
  .ecdt-panel-content {
    background-color: gainsboro;
    flex: 1;
    overflow: auto;
  }
}